name: IoT Device Spoofer
description: Creates virtual IoT devices via MQTT for prototyping and testing
version: '0.1.26'
slug: iot_device_spoofer
url: https://github.com/MagnusHLund/IoT_Device_spoofer_for_HA

arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

startup: application
boot: auto
init: true

ingress: true
ingress_port: 8080

panel_icon: mdi:chip
panel_title: IoT Device Spoofer

# Add-on configuration exposed to the user
options:
  mqtt_host: core-mosquitto
  mqtt_port: 1883
  mqtt_username: ''
  mqtt_password: ''

schema:
  mqtt_host: str
  mqtt_port: port
  mqtt_username: str?
  mqtt_password: password?
