name: Device Spoofer
version: "0.1.13"
slug: iot_device_spoofer
description: Simulates IoT devices via MQTT for Home Assistant

arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

startup: services
boot: auto

ingress: true
ingress_port: 8080

url: https://github.com/MagnusHLund/IoT_Device_spoofer_for_HA

init: true

panel_icon: mdi:chip
panel_title: IoT Device Spoofer
